/*
  dead: "#993311",
  plain: "#00bb00",
  forest: "#008822",
  mountain: "#cccccc",
*/

.world_tile {
  display: inline;
  /*padding: 0 5px;*/
  color: var(--tile-fg);
  background-color: var(--tile-bg);
}

.world_tile:hover {
  background-color: rgba(0, 0, 0, 0) !important;
  cursor: pointer;
}

.world_tile:active {
  color: var(--tile-bg) !important;
  background-color: var(--tile-fg) !important;
}

.world_tile__selected {
  outline: 2px solid var(--tile-fg);
  outline-offset: -1px;
}

.world_tile__dead {
  --tile-fg: #993311;
  --tile-bg: #33221d;
}

.world_tile__forest {
  --tile-fg: #118822;
  --tile-bg: #0d4411;
}

.world_tile__plain {
  --tile-fg: #00bb00;
  --tile-bg: #105515;
}

.world_tile__mountain {
  --tile-fg: #bdbdcc;
  --tile-bg: #777777;
}
