.app {
  --font-size: 20pt;
  --line-height: calc(var(--font-size) * 0.81);
  --text-color: #dddddd;

  display: grid;
  place-items: center;

  font-family: "Classic Console Neue", Consolas;
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--text-color);

  height: 100%;
}

.app__flex_container {
  display: inline-flex;
  gap: calc(var(--font-size) * 2);  /* TODO Doesn't produce 2 character gap */
}

p {
  margin: 0 0 var(--line-height) 0;
}
