.app {
  --font-size: 20pt;
  --line-height: calc(var(--font-size) * 0.81);

  display: grid;
  place-items: center;

  font-family: "Classic Console Neue", Consolas;
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: #dddddd;
}

.app__flex_container {
  display: inline-flex;
  gap: calc(var(--font-size) * 2);
}

p {
  margin: 0 0 var(--line-height) 0;
}
